* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open San", sans-serif;
}

.bar {
  background-color: #117050;
  width: 168px;
  height: 22px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 90px;
  font-weight: bold;
  line-height: 90px;
  padding-top: 90px;
  margin-bottom: 40px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
  margin-top: 10px;
  margin-bottom: 30px;
}

cite {
  font-style: normal;
}

.button {
  margin-top: 50px;
  display: inline-block;
  border: solid 2px #454545;
  border-radius: 5px;
  padding: 10px 30px;
  color: #454545;
  text-decoration: none;
  transition: 0.5s;
}

.button:hover {
  color: #ffffff;
  background-color: #454545;
}

/* ========================== HEADER =========================== */
.line {
  background-color: #117050;
  width: 100%;
  height: 10px;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-left img {
  width: 64px;
  height: auto;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right--search {
  border: solid 1px #999999;
  padding-right: 10px;
}

.header-right--search form {
  display: flex;
  align-items: center;
}

.header-right--search input {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  outline: none;
  width: 100%;
  max-width: 250px;
}

.header-right--search button {
  border: none;
  background: transparent;
}

.header-right--search button img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.header-right--menu {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.header-right--menu img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/* ============================================================= */
/* ========================== BANNER =========================== */
.banner {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
}

.banner-images {
  margin-top: 50px;
  padding-bottom: 90px;
}

.banner-images img {
  width: 150px;
  height: 150px;
  border: solid 6px #117050;
  border-radius: 50%;
}

.banner-images img + img {
  margin-left: 40px;
}
/* ============================================================= */
/* ========================== ÁREA 1 =========================== */
.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "area1-content area1-image_2"
    "area1-image_1 area1-image_2";
}
.area1-content {
  grid-area: area1-content;
  padding: 80px;
}

.area1-image_1 {
  grid-area: area1-image_1;
  background-image: url("../images/f2.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
}

.area1-image_2 {
  grid-area: area1-image_2;
  background-image: url("../images/f1.jpg");
  background-position: center;
  background-size: cover;
}

.area1-content--quote {
  margin-bottom: 30px;
}

.area1-content--text {
  line-height: 25px;
}

blockquote p {
  font-style: italic;
  display: inline-block;
}
/* ============================================================= */
/* ========================== ÁREA 2 =========================== */
.area2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "area2-image_2 area2-content"
    "area2-image_2 area2-image_1";
}
.area2-content {
  grid-area: area2-content;
  padding: 80px;
}

.area2-image_1 {
  grid-area: area2-image_1;
  background-image: url("../images/f4.jpg");
  background-position: center;
  background-size: cover;
  height: 450px;
}

.area2-image_2 {
  grid-area: area2-image_2;
  background-image: url("../images/f3.jpg");
  background-position: center;
  background-size: cover;
}

.area2-content--quote {
  margin-bottom: 30px;
}

.area2-content--text {
  line-height: 25px;
}

/* ============================================================= */
/* ========================== ÁREA 3 =========================== */
.area3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "area3-content area3-image_1";
}
.area3-content {
  grid-area: area3-content;
  background-image: url("../images/bg2.jpg");
  background-position: left;
  background-size: cover;
  padding: 250px 80px;
}

.area3-image_1 {
  grid-area: area3-image_1;
  background-image: url("../images/f5.jpg");
  background-position: center;
  background-size: cover;
}
/* ============================================================= */
/* ========================== AREA 4 =========================== */
.area4 {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-areas: "area4-content area4-image";
  background-color: #ebe9ee;
}

.area4-content {
  grid-area: area4-content;
  padding: 180px 80px;
}

.area4-image {
  grid-area: area4-image;
  background-image: url("../images/bg3.jpg");
  background-position: left;
  background-size: auto;
}
/* ============================================================= */
/* ========================== AREA 5 =========================== */
.area5 {
  background-image: url("../images/bg4.jpg");
  background-position: left;
  background-size: cover;
  height: 700px;
}
/* ============================================================= */
/* ========================== RODAPÉ =========================== */
.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 80px;
  text-align: center;
  line-height: 25px;
}
/* ============================================================= */
/* ================ LAPTOP (Menor que 1140px) ================== */
@media (max-width: 1140px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* ============================================================= */
